
.wd-border-solid {
    border-style: solid;
}
.wd-margin-bottom-5 {
    margin-bottom: 5px;
}
.wd-border-style-none {
    border-style: none;
}

.wd-bg-dark-gray {
    background-color: #2d3133;
}
.wd-search-size {
    width: calc(100% - 60px);
    height: 25px;
}
.wd-search-corners {
    border-radius: 10px;
}
.wd-padding-left {
    padding-left: 30px;
}
.wd-padding-image-right {
    padding-right: 130px;
}

.wd-box-padding {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 12px;
}

.wd-position-relative {
    position: absolute;
    right: calc(100% - 55px);
}

.wd-grid-row {
    clear: both;
}

.make-square-100 {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.wd-blue-highlight {
    color: rgb(29, 161, 242);
}
.wd-padding-16px {
    padding: 16px;
}
.wd-border-bottom-5 {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 5px;
}
.wd-border-highlight-color {
    border-color: rgb(29, 161, 242);
}
.wd-size-8 {
    font-size: 8px;
}
