.wd-color-blue {
    color: #6994f6;
}

.wd-margin-left-16 {
    margin-left: 16px;
}
.wd-margin-top-12 {
    margin-top: 12px;
}
.wd-padding-left-16 {
    padding-left: 16px;
}
.wd-margin-left-12 {
    margin-left: 12px;
}
.wd-margin-right-16 {
    margin-right: 16px;
}
.wd-margin-bottom-12 {
    margin-bottom: 12px;
}
.wd-margin-left-60 {
    margin-left: 60px;
}
.wd-padding-top-12 {
    padding-top: 12px;
}
.wd-padding-bot-12{
    padding-bottom: 12px;
}

.wd-title-size-20 {
    font-size: 20px;
}
.wd-width-half {
    width: 50%;
}
.wd-make-circle-48 {
    object-fit: cover;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wd-15pt {
    font-size: 15px;
}

.wd-width-506px {
    max-width: 506px;
}
.wd-float-no-wrap {
    overflow-x: clip;
}
.wd-image-top-rounded {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.wd-border-bottom {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px;
    border-style: solid;
}
.wd-padding-all-12 {
    padding: 12px;
}
.wd-border-bottom-color {
    border-bottom-color: rgb(47, 51, 54);
}

